.Search{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    margin-top: 15px;
}

@media (max-width: 500px){
    .Search{
        flex-wrap: wrap; 
    }
}