.Search{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    margin-top: 15px;
}

.Input{
    width: 200px;
    height: 40px;
    border: none;
    background-color: #eef1f1;
    border-radius: 25px;
    margin-top: 10px;
}